<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<!--让浏览器使用最新的IE内核进行渲染页面-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="苏州驰星教育科技有限公司 - 课程信息" />
		<meta name="author" content="success" />
				<meta name="keywords" content="苏州驰星教育科技有限公司,预见大学,Python培训,Java培训,人工智能,智能语音,思必驰,软件开发,苏州驰星,驰星教育" />
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<title>驰星教育|课程</title>
		<!--TODO 公司logo图标-->
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<!--引入bootstrap样式-->
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.min.css" />

		<!--引入自定义样式-->
		<link rel="stylesheet" type="text/css" href="../css/common/common.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/course.min.css" />
		<link rel="stylesheet" type="text/css" href="../plugins/jquery-simplyscroll-2.1.1/jquery.simplyscroll.css" />
		
		<link rel="stylesheet" type="text/css" href="../css/common_fonts.css"/>
		
	</head>

	<body>
		<!--导航 begin-->
		<div class="container-fluid">
			<div class="row">
				<nav class="navbar navbar-inverse" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
					            <span class="sr-only">驰星教育</span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
				       		</button>
				       		<div style="position: absolute;"><img src="../img/nav_log.png"></div>
						</div>
						<div class="collapse navbar-collapse" id="example-navbar-collapse">
							<ul class="nav navbar-nav navbar-right mynav">
								<li>
									<a href="../index.html">首页</a>
								</li>
								<li class="active">
									<a href="#">课程</a>
								</li>
								<li>
									<a href="job.html">就业</a>
								</li>
								<li>
									<a href="questions.html">常见问题</a>
								</li>
								<li>
									<a href="online.html">线上平台</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!--导航end-->
		<div class="container-fluid">
			<div class="row">
				<div id="nav_img">
					<div class="nav_left hidden-xs hidden-sm">
						<div class="nav_left_div01">同样是教育 不同是品质</div>
						<div class="nav_left_div02">驰星培养更优秀的你!</div>
					</div>
					<marquee class="hidden-lg hidden-md hidden-sm visible-xs">
						<div style="">
							<span class="course1" style="color:red">近期开班信息</span>
						</div>
					</marquee>
					<div class="nav_right_my box" id="mysc">
						<ul class="nav nav-pills nav-stacked bc" style="padding: 20px 20px;">
							<li>
								<a href="#">12月15日:Java+大数据就业班<span style="color: red;">火爆招生</span></a>
							</li>
							<li>
								<a href="#">12月15日:Python全栈开发周末班<span style="color: red;">火爆招生</span></a>
							</li>
							
							<li>
								<a href="#">01月12日:智能语音进阶班<span style="color: red;">火爆招生</span></a>
							</li>
							
							<li>
								<a href="#">01月26日:Python+人工智能就业班<span style="color: red;">火爆招生</span></a>
							</li>
							
							<li>
								<a href="#">01月26日:Java+大数据就业班<span style="color: red;">火爆招生</span></a>
							</li>
							
							<li>
								<a href="#">11月Python全栈开发班 已满</a>
							</li>
							<li>
								<a href="#">11月JAVA大数据班 已满</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!--课程介绍-->
		<div align="center" style="margin-top: 100px;">
			<span class="course1">课程介绍<br></span>
			<span class="course2">COURSE DESCRIPTION</span>
		</div>

		<div class="container-fluid" style="margin-top: 20px;">
			<h3 style="text-align: center;color: red;font-weight: bold;">JAVA全栈工程师</h3>
			<div class="row" style="margin: auto;">
				<div class="col-md-offset-1 col-md-2 course_first_left">
					<p class="course_title">课程简介</p>
					<p style="text-align: justify;">
						JAVA是全球软件开发使用最多的编程语言，功能强大而且简单易用。
						JAVA应用非常广泛，金融、交通、工业制造、商业运营等各行各业公
						司的软件开发都离不开JAVA语言。JAVA语言适合于WEB服务开发、企
						业级软件开发、通用后台程序开发等，JAVA也是大数据技术、数据分析、
						商业智能等数据智能技术的必备语言。
					</p>
				</div>
				<div class="col-md-5 course_first_middle">
					<p style="color: white;line-height: 400px;text-align: center;font-size: 35px;">
						软件开发的中坚力量
					</p>
				</div>
				<div class="col-md-2 course_first_right" style="display: table-cell;line-height: 400px;">
					<img src="../img/course-java.png" style="width: 100%;vertical-align: middle;" />
				</div>
			</div>
		</div>

		<div class="container-fluid" style="margin-top: 20px;">
			<h3 style="text-align: center;color: red;font-weight: bold;">Python全栈工程师</h3>
			<div class="row" style="margin: auto;">
				<div class="col-md-offset-1 col-md-2 course_first_left" style="display: table-cell;line-height: 400px;background-color: #DA0927;">
					<img src="../img/course_python2.png" style="width: 100%;vertical-align: middle;" />
				</div>
				<div class="col-md-5 course_two_middle">
					<p style="color: #DA0927;line-height: 400px;text-align: center;font-size: 35px;">
						人生苦短,我用Python
					</p>
				</div>
				<div class="col-md-2 course_two_right">
					<p class="course_title">课程简介</p>
					<p style="text-align: justify;">
						Python是一门最容易学习和上手的编程语言，也是近年来炙手可热的编程语言，就业职位众多，薪资优越。
						Python语音被广泛应用于WEB服务开发、软件开发、图形图像开发、数据分析等众多领域，Python也是
						目前人工智能领域最主流的编程语言，是学习人工智能、机器学习、神经网络等技术的首选语言。
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid" style="margin-top: 20px;">
			<h3 style="text-align: center;color: red;font-weight: bold;">人工智能工程师</h3>
			<div class="row" style="margin: auto;">
				<div class="col-md-offset-1 col-md-2 course_first_left">
					<p class="course_title">课程简介</p>
					<p style="text-align: justify;">
						人工智能技术是一门综合性很强的技术，也是目前人才需求最大，平均薪资最高的行业。
						要成为一名合格的人工智能工程师，既要掌握数据库技术、Python编程技术，还要掌
						握丰富的机器学习算法和深度学习、神经网络模型实现技术，能够利用AI算法解决图像
						识别、语音识别、用户画像、个性化推荐等现实问题。
					</p>
				</div>
				<div class="col-md-5 course_first_middle">
					<p style="color: white;line-height: 400px;text-align: center;font-size: 35px;">
						不怕从零开始，就怕从未启程
					</p>
				</div>
				<div class="col-md-2 course_first_right" style="display: table-cell;line-height: 400px;">
					<img src="../img/course_ai.png" style="width: 100%;vertical-align: middle;" />
				</div>
			</div>
		</div>
		<div class="container-fluid" style="margin-top: 20px;">
			<h3 style="text-align: center;color: red;font-weight: bold;">大数据工程师</h3>
			<div class="row" style="margin: auto;">
				<div class="col-md-offset-1 col-md-2 course_first_left" style="background-color:#DA0927;display: table-cell;line-height: 400px;">
					<img src="../img/course_bigdata.png" style="width: 100%;vertical-align: middle;" />
				</div>
				<div class="col-md-5 course_two_middle">
					<p style="color: red;line-height: 400px;text-align: center;font-size: 35px;">
						大数据就在我们身边
					</p>
				</div>
				<div class="col-md-2 course_two_right">
					<p class="course_title">课程简介</p>
					<p style="text-align: justify;">
						大数据是商业智能的基础，可以让企业拥有更强的决策力、洞察发现力和流程优化能力。大数据技术亿被视为互联网新时代的关键技术，也是人工智能技术的主要支撑。
						大数据技术已经被众多公司深度应用，大数据管理工程师、大数据建模工程师、大数据开发工程师等职位人才稀缺，就业薪资优越，发展空间广阔。
					</p>
				</div>
			</div>
		</div>
		<div align="center" style="margin-top: 100px;">
			<span class="course1">课程优势<br></span>
			<span class="course2">COURSE ADVANTAGE</span>
		</div>
		<div class="container-fluid" style="margin-top: 50px;">
			<div class="row">
				<div class="col-md-6">
					<div class="row bulb">
						<div class="col-md-offset-1 col-md-2 hidden-xs"><img src="../img/bulb1.png"></div>
						<div class="col-md-9 bulb_div">
							<div style="margin-bottom: 5px;">
								<span class="couser_ul_my_sp">校企联手研发课程</span>
							</div>
							<div>
								<p>
									企业自身为国内领先的人工智能高科技公司，创始团队来自剑桥人工
								</p>
								<p>
									智能技术专家、项目经理、院校、研究院教授组成教学研发团队课程
								</p>
								<p>
									研发团队汇集来自阿里、腾讯、百度、华为、乐视等资深专家
								</p>
							</div>
						</div>
					</div>
					<div class="row bulb">
						<div class="col-md-offset-1 col-md-2 hidden-xs"><img src="../img/bulb1.png"></div>
						<div class="col-md-9 bulb_div">
							<div style="margin-bottom: 5px;">
								<span class="couser_ul_my_sp">双师型企业师资</span>
							</div>
							<div>
								<p>
									教研师资教授基础课程模块，项目经理负责专业模块授课和项目指导
								</p>
								<p>
									师资严格选拔培训，80%师资是硕士研究生以上学历,打造培训与企业
								</p>
								<p>
									完成融合教学模式心课程师资具备一线企业实战背景
								</p>
							</div>
						</div>
					</div>
					<div class="row bulb">
						<div class="col-md-offset-1 col-md-2 hidden-xs">
							<img src="../img/bulb1.png">
						</div>
							<div class="col-md-9 bulb_div">
								<div style="margin-bottom: 5px;">
									<span class="couser_ul_my_sp">公司真实产品实战</span>
								</div>
							<div>
								<p>
									最大的优势在于拥有自己的行业内一流的人工智能企业，有自己的专
								</p>
								<p>
									属实验室、在市场上拥有自己研发的产品
								</p>
								<br>
							</div>
						</div>
					</div>
					<div class="row bulb">
						<div class="col-md-offset-1 col-md-2 hidden-xs"><img src="../img/bulb1.png"></div>
							<div class="col-md-9 bulb_div">
								<div style="margin-bottom: 5px;">
								<span class="couser_ul_my_sp">企业级项目开发环境</span>
							</div>
							<div>
								<p>
									塑造与企业高度融合的硬件环境，学习环境渗入产业园。项目管理、
								</p>
								<p>
									开发规范、软件测试等环节按照公司项目开发环境执行
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="course_div_right_imgs col-md-6"></div>
			</div>
		</div>
		
		<div class="container-fluid zidDivParent">
				<div class="row" id="zidiv">
					<div align="center" class="col-md-offset-4 col-md-4 col-xs-offset-4 col-xs-4" style="text-align: center;display: table-cell;">
						<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3466089441&amp;site=qq&amp;menu=yes"><img src="../img/clickzx.png" style="max-width: 100%;padding-top: 20%;"/>
						</a>
					</div>
				</div>
		</div>
		
		<div class="container-fluid zidDivParent" align="center">
			<div class="row">
				<span class="course1">专家团队<br></span>
				<span class="course2">TEACHER TEAM</span>
			</div>
		</div>
		
		<div class="container-fluid" style="margin-top: 45px;">
			<div class="row">
				<img src="../img/teacher.png" style="max-width: 100%;" />
			</div>
		</div>

		<!--底部-->
	    	<div class="container-fluid footer_final">
			<div class="row">
				<div class="col-md-5 pull-left" style="padding: 5vw;">
					<div class="cxlog pull-left" style="1px solid yellow;">
						<img src="../img/footer_logo.png" />
					</div>
					<div class="pull-left" style="color: white;padding-top: 10px;font-size: 14px;">
						<p>
							苏州驰星教育科技有限公司
						</p>
						
						<p>
							联系电话:18021605597[微信同]
						</p>
						<p>
							联系电话:15906128572[微信同]
						</p>
						<p>
							QQ:3466089441
						</p>
						<p>
							地址:苏州工业园区腾飞创新园13-14幢
						</p>
						<p>
							<img src="../img/sqq.png"/>&nbsp;&nbsp;&nbsp;&nbsp;
							<img src="../img/swx.png"/>&nbsp;&nbsp;&nbsp;&nbsp;
							<img src="../img/sxl.png"/>
						</p>
					</div>
				</div>
				<div class="col-md-7 hidden-xs" style="padding-top: 40px;">
					<div class="row myfos" style="font-size: 14px;">
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">首页</a>
								</li>
								<li>
									<a href="#">驰星新闻</a>
								</li>
								<li>
									<a href="#">近期课程</a>
								</li>
								<li>
									<a href="#">开班信息</a>
								</li>
								<li>
									<a href="#">学员活动</a>
								</li>
							</ul>
						</div>
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">课程</a>
								</li>
								<li>
									<a href="#">课程介绍</a>
								</li>
								<li>
									<a href="#">教学特色</a>
								</li>
								<li>
									<a href="#">管理模式</a>
								</li>
								<li>
									<a href="#">专家团队</a>
								</li>
							</ul>
						</div>
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">就业</a>
								</li>
								<li>
									<a href="#">发展薪资</a>
								</li>
								<li>
									<a href="#">就业模式</a>
								</li>
								<li>
									<a href="#">合作企业</a>
								</li>
							</ul>
						</div>
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">常见问题</a>
								</li>
								<li>
									<a href="#">报名问题</a>
								</li>
								<li>
									<a href="#">学费问题</a>
								</li>
								<li>
									<a href="#">教学问题</a>
								</li>
							</ul>
						</div>
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">线上平台</a>
								</li>
								<li>
									<a href="#">核心竞争</a>
								</li>
								<li>
									<a href="#">业务分析</a>
								</li>
								<li>
									<a href="#">平台特色</a>
								</li>
								<li>
									<a href="#">培训体系</a>
								</li>
								<li>
									<a href="#">授课标准</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div align="center" style="font-size: 12px;">
					<div style="color: white;">&copy;2018-2019 预见大学&nbsp;&nbsp;版权所有&nbsp;&nbsp;ICP证:&nbsp;&nbsp;<span style="color: white;">沪ICP备18024971号-1</span></div>
					<div style="margin-top: 20px;color:#999">&nbsp;&nbsp;<img src="../img/b2.ico"/>沪公网安备 31010402004802号</div>	
				</div>
			</div>
		</div>
		
		<!--bannel end-->
		<!--引入jquery插件-->
		<script type="text/javascript" src="../plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap插件-->
		<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.min.js"></script>
		<!--<script type="text/javascript" src="../js/index.min.js"></script>-->
		<script type="text/javascript" src="../js/course.min.js"></script>
	</body>
</html>