<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<!--让浏览器使用最新的IE内核进行渲染页面-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="苏州驰星教育科技有限公司 - 就业信息" />
		<meta name="author" content="success" />
		<meta name="keywords" content="苏州驰星教育科技有限公司,预见大学,Python培训,Java培训,人工智能,智能语音,思必驰,软件开发,苏州驰星,驰星教育" />
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<title>驰星教育|线上平台</title>
		<!--TODO 公司logo图标-->
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<!--引入bootstrap样式-->
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.min.css" />
		<!--引入自定义样式-->
		<link rel="stylesheet" type="text/css" href="../css/common/common.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/index.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/online.min.css" />
	</head>

	<body>
		<!--导航 begin-->
		<!--导航 begin-->
		<div class="container-fluid">
			<div class="row">
				<nav class="navbar navbar-inverse" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
					            <span class="sr-only">驰星教育</span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
				       		</button>
				       		<div style="position: absolute;"><img src="../img/nav_log.png"></div>
						</div>
						<div class="collapse navbar-collapse" id="example-navbar-collapse">
							<ul class="nav navbar-nav navbar-right mynav">
								<li>
									<a href="../index.html">首页</a>
								</li>
								<li>
									<a href="course.html">课程</a>
								</li>
								<li>
									<a href="job.html">就业</a>
								</li>
								<li>
									<a href="questions.html">常见问题</a>
								</li>
								<li class="active">
									<a href="online.html">线上平台</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!--导航end-->
		<!--导航end-->
		<div class="container-fluid">
			<div class="row">
				<div style="position: relative;">
					<div class="bannerss">
						<img data-original="../img/online_ping.png" class="lazy" style="height: 100%;width: 100%;"/>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container online01">
			<img src="../img/online01.png" alt="苏州驰星" style="width: 100%;" />
		</div>

		<!--列表-->
		<div class="container myul">
			<div class="row">
				<div class="col-md-offset-2 col-md-2 col-xs-2 hidden-md hidden-xs" style="text-align: center;">
					<img src="../img/good2.png" />
				</div>
				<div class="col-md-8 col-xs-12 col-sm-12 goodChange">
					<ul style="list-style-type: disc;padding: 0;list-style: inside;line-height: 4vh;">
						<h4>平台核心竞争力</h4>
						<li>思必驰领先的AI技术,行业影响力</li>
						<li>上海交大专业师资和课程设计</li>
						<li>形成产业联盟资源,产业园政府背书</li>
						<li>懂行业东企业的专业投资机构</li>
					</ul>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-2 col-md-2 col-xs-2 hidden-md hidden-xs" style="text-align: center">
					<img src="../img/good2.png" />
				</div>
				<div class="col-md-8 col-xs-12 col-sm-12 goodChange">
					<ul style="list-style-type: disc;padding: 0;list-style: inside;line-height: 4vh;">
						<h4>基于思必驰全球领先AI智能交互技术的教育平台</h4>
						<li>智慧学习助手知识测评</li>
						<li>知识技能提升</li>
						<li>服务教师的课程知识体系管理工具,服务学生的线上线下结合的智慧助教系统</li>
						<li>技能考核及认证</li>
						<li>工作机会推荐</li>
					</ul>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-2 col-md-2 col-xs-2 hidden-md hidden-xs" style="text-align: center;">
					<img src="../img/good2.png" />
				</div>
				<div class="col-md-8 col-xs-12 col-sm-12 goodChange">
					<ul style="list-style-type: disc;padding: 0;list-style: inside;line-height: 4vh;">
						<h4>定制专属的智慧助教系统</h4>
						<li>知识雾化</li>
						<li>智能问答</li>
						<li>成长跟踪</li>
						<li>形象定制</li>
						<li>职业规划</li>
						<li>能力认证</li>
					</ul>
					<hr>
				</div>
			</div>
		</div>

		<!--底部图片-->
		<div class="container-fluid hidden-xs hidden-sm">
			<div class="row" style="position: relative;">
				<div class="col-md-4 footer01" style="padding: 0;">
					<img src="../img/online02.png" style="height: 350px;width: 100%;" />
				</div>
				<div class="col-md-4 footer01" style="padding: 0;">
					<img src="../img/online02.png" style="height: 350px;width: 100%;" />
				</div>
				<div class="col-md-4 footer01" style="padding: 0;margin-left: -1px;">
					<img src="../img/online03.png" style="height: 350px;width: 100%;" />
				</div>
				<div class="footer_contents">
					<h3>苏州驰星<br><br>
					       线上特色平台
					</h3>
					<div class="ft">
						您的首选!
					</div>
				</div>
				<div class="fp">
					<div class="pull-left" style="text-align:center;width:22vw;padding: 10px 30px; color: white;font-size: 18px;">平台特色:课程知识化</div>
					<div class="pull-left" style="text-align:center;width:60vw;padding: 10px 30px; color: white;font-size: 18px;">全方位智能化教育平台</div>
					<div class="pull-left" style="text-align:center;width:10vw;padding: 10px 1px; color: white;font-size: 18px;">行业资深大咖</div>
				</div>
			</div>
		</div>

		<!--底部-->
			<div class="container-fluid footer_final">
			<div class="row">
				<div class="col-md-5 pull-left" style="padding: 5vw;">
					<div class="cxlog pull-left" style="1px solid yellow;">
						<img src="../img/footer_logo.png" />
					</div>
					<div class="pull-left" style="color: white;padding-top: 10px;font-size: 14px;">
						<p>
							苏州驰星教育科技有限公司
						</p>
						
						<p>
							联系电话:18021605597[微信同]
						</p>
						<p>
							联系电话:15906128572[微信同]
						</p>
						<p>
							QQ:3466089441
						</p>
						<p>
							地址:苏州工业园区腾飞创新园13-14幢
						</p>
						<p>
							<img src="../img/sqq.png"/>&nbsp;&nbsp;&nbsp;&nbsp;
							<img src="../img/swx.png"/>&nbsp;&nbsp;&nbsp;&nbsp;
							<img src="../img/sxl.png"/>
						</p>
					</div>
				</div>
				<div class="col-md-7 hidden-xs" style="padding-top: 40px;">
					<div class="row myfos" style="font-size: 14px;">
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">首页</a>
								</li>
								<li>
									<a href="#">驰星新闻</a>
								</li>
								<li>
									<a href="#">近期课程</a>
								</li>
								<li>
									<a href="#">开班信息</a>
								</li>
								<li>
									<a href="#">学员活动</a>
								</li>
							</ul>
						</div>
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">课程</a>
								</li>
								<li>
									<a href="#">课程介绍</a>
								</li>
								<li>
									<a href="#">教学特色</a>
								</li>
								<li>
									<a href="#">管理模式</a>
								</li>
								<li>
									<a href="#">专家团队</a>
								</li>
							</ul>
						</div>
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">就业</a>
								</li>
								<li>
									<a href="#">发展薪资</a>
								</li>
								<li>
									<a href="#">就业模式</a>
								</li>
								<li>
									<a href="#">合作企业</a>
								</li>
							</ul>
						</div>
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">常见问题</a>
								</li>
								<li>
									<a href="#">报名问题</a>
								</li>
								<li>
									<a href="#">学费问题</a>
								</li>
								<li>
									<a href="#">教学问题</a>
								</li>
							</ul>
						</div>
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">线上平台</a>
								</li>
								<li>
									<a href="#">核心竞争</a>
								</li>
								<li>
									<a href="#">业务分析</a>
								</li>
								<li>
									<a href="#">平台特色</a>
								</li>
								<li>
									<a href="#">培训体系</a>
								</li>
								<li>
									<a href="#">授课标准</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div align="center" style="font-size: 12px;">
					<div style="color: white;">&copy;2018-2019 预见大学&nbsp;&nbsp;版权所有&nbsp;&nbsp;ICP证:&nbsp;&nbsp;<span style="color: white;">沪ICP备18024971号-1</span></div>
					<div style="margin-top: 20px;color:#999">&nbsp;&nbsp;<img src="../img/b2.ico"/>沪公网安备 31010402004802号</div>	
				</div>
			</div>
			<!--<div class="row" style="margin-top:70px;background-color:#2D2D2D;color: white;padding: 5px;font-size: 14px;" align="center" ">
				<div class="col-md-offset-1 col-md-3 ">
					苏州驰星教育科技有限公司版权所有&copy;
				</div>
				<div class="col-md-3 ">
					苏州驰星教育科技有限公司技术支持
				</div>
				<div class="col-md-4 ">
					备案号:苏ICP备xxx号
				</div>
			</div>-->
		</div>

		<!--引入jquery插件-->
		<script type="text/javascript" src="../plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap插件-->
		<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/online.js"></script>
		<script type="text/javascript" src="../plugins/lazyload/jquery-lazyload.min.js"></script>
	</body>
</html>