<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<!--让浏览器使用最新的IE内核进行渲染页面-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="苏州驰星教育科技有限公司 - 课程信息" />
		<meta name="author" content="success" />
		<meta name="keywords" content="苏州驰星教育科技有限公司,预见大学,Python培训,Java培训,人工智能,智能语音,思必驰,软件开发,苏州驰星,驰星教育" />
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<title>驰星教育|课程</title>
		<!--TODO 公司logo图标-->
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<!--引入bootstrap样式-->
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.min.css" />

		<!--引入自定义样式-->
		<link rel="stylesheet" type="text/css" href="../css/common/common.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/questions.css"/>
		<style type="text/css">
		
			
		</style>
	</head>

	<body>
		<!--导航 begin-->
		<!--导航 begin-->
		<div class="container-fluid">
			<div class="row">
				<nav class="navbar navbar-inverse" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
					            <span class="sr-only">驰星教育</span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
				       		</button>
				       		<div style="position: absolute;"><img src="../img/nav_log.png"></div>
						</div>
						<div class="collapse navbar-collapse" id="example-navbar-collapse">
							<ul class="nav navbar-nav navbar-right mynav">
								<li>
									<a href="../index.html">首页</a>
								</li>
								<li>
									<a href="course.html">课程</a>
								</li>
								<li>
									<a href="job.html">就业</a>
								</li>
								<li class="active">
									<a href="questions.html">常见问题</a>
								</li>
								<li>
									<a href="online.html">线上平台</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!--导航end-->
		<!--导航end-->
		<div class="container-fluid">
			<div class="row">
				<div id="nav_img">
					<div class="nav_left hidden-xs hidden-sm">
						<div class="nav_left_div01">中国数字教育领导企业</div>
						<h1 class="nav_left_div02">苏州驰星教育</h1>
						<div class="nav_left_div03" style="background-color: #DA0927;color: white;">12000名学生顺利毕业找到工作!</div>
					</div>
				</div>
			</div>
		</div>
	
	<div class="container" style="margin-top: 80px;">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="qst00" style="position: relative;">
					<div style="padding: 70px 20px;">
						<div style="font-size: 28px;font-weight: bold;">0基础</div>
						<div style="color: #999;">能学会吗?</div>
						<div style="margin-top: 20px;">
							<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3466089441&amp;site=qq&amp;menu=yes">
								<img src="../img/qstbtn.png" class="ctn"/>
							</a>
						</div>
					</div>
					<div style="position:absolute;right: 0;top:20%">
						<img src="../img/q1.png" class="cimg"/>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="qst00" style="position: relative;">
					<div style="padding: 70px 20px;">
						<div style="font-size: 28px;font-weight: bold;">学费</div>
						<div style="color: #999;">多少钱?</div>
						<div style="margin-top: 20px;">
							<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=849962874&amp;site=qq&amp;menu=yes">
								<img src="../img/qstbtn.png" class="ctn"/>
							</a>
						</div>
					</div>
					<div style="position:absolute;right: 0;top:20%">
						<img src="../img/q2.png" class="cimg"/>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="qst00" style="position: relative;">
					<div style="padding: 70px 20px;">
						<div style="font-size: 28px;font-weight: bold;">不知道</div>
						<div style="color: #999;">什么课程?</div>
						<div style="margin-top: 20px;">
							<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3466089441&amp;site=qq&amp;menu=yes">
								<img src="../img/qstbtn.png" class="ctn"/>
							</a>
						</div>
					</div>
					<div style="position:absolute;right: 0;top:20%">
						<img src="../img/q1.png" class="cimg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-4 col-xs-12">
				<div class="qst00" style="position: relative;">
					<div style="padding: 70px 20px;">
						<div style="font-size: 28px;font-weight: bold;">学不会</div>
						<div style="color: #999;">怎么办?</div>
						<div style="margin-top: 20px;">
							<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3466089441&amp;site=qq&amp;menu=yes">
								<img src="../img/qstbtn.png" class="ctn"/>
							</a>
						</div>
					</div>
					<div style="position:absolute;right: 0;top:20%">
						<img src="../img/q1.png" class="cimg"/>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="qst00" style="position: relative;">
					<div style="padding: 70px 20px;">
						<div style="font-size: 28px;font-weight: bold;">想上课</div>
						<div style="color: #999;">怎么报名?</div>
						<div style="margin-top: 20px;">
							<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3466089441&amp;site=qq&amp;menu=yes">
								<img src="../img/qstbtn.png" class="ctn"/>
							</a>
						</div>
					</div>
					<div style="position:absolute;right: 0;top:20%">
						<img src="../img/q2.png" class="cimg"/>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="qst00" style="position: relative;">
					<div style="padding: 70px 20px;">
						<div style="font-size: 28px;font-weight: bold;">就业</div>
						<div style="color: #999;">怎么样?</div>
						<div style="margin-top: 20px;">
							<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3466089441&amp;site=qq&amp;menu=yes">
								<img src="../img/qstbtn.png" class="ctn"/>
							</a>
						</div>
					</div>
					<div style="position:absolute;right: 0;top:20%">
						<img src="../img/q1.png" class="cimg"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	
		<!--底部-->
	    	<div class="container-fluid footer_final">
			<div class="row">
				<div class="col-md-5 pull-left" style="padding: 5vw;">
					<div class="cxlog pull-left" style="1px solid yellow;">
						<img src="../img/footer_logo.png" />
					</div>
					<div class="pull-left" style="color: white;padding-top: 10px;font-size: 14px;">
						<p>
							苏州驰星教育科技有限公司
						</p>
						
						<p>
							联系电话:18021605597[微信同]
						</p>
						<p>
							联系电话:15906128572[微信同]
						</p>
						<p>
							QQ:3466089441
						</p>
						<p>
							地址:苏州工业园区腾飞创新园13-14幢
						</p>
						<p>
							<img src="../img/sqq.png"/>&nbsp;&nbsp;&nbsp;&nbsp;
							<img src="../img/swx.png"/>&nbsp;&nbsp;&nbsp;&nbsp;
							<img src="../img/sxl.png"/>
						</p>
					</div>
				</div>
				<div class="col-md-7 hidden-xs" style="padding-top: 40px;">
					<div class="row myfos" style="font-size: 14px;">
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">首页</a>
								</li>
								<li>
									<a href="#">驰星新闻</a>
								</li>
								<li>
									<a href="#">近期课程</a>
								</li>
								<li>
									<a href="#">开班信息</a>
								</li>
								<li>
									<a href="#">学员活动</a>
								</li>
							</ul>
						</div>
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">课程</a>
								</li>
								<li>
									<a href="#">课程介绍</a>
								</li>
								<li>
									<a href="#">教学特色</a>
								</li>
								<li>
									<a href="#">管理模式</a>
								</li>
								<li>
									<a href="#">专家团队</a>
								</li>
							</ul>
						</div>
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">就业</a>
								</li>
								<li>
									<a href="#">发展薪资</a>
								</li>
								<li>
									<a href="#">就业模式</a>
								</li>
								<li>
									<a href="#">合作企业</a>
								</li>
							</ul>
						</div>
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">常见问题</a>
								</li>
								<li>
									<a href="#">报名问题</a>
								</li>
								<li>
									<a href="#">学费问题</a>
								</li>
								<li>
									<a href="#">教学问题</a>
								</li>
							</ul>
						</div>
						<div class="col-md-2 col-xs-6">
							<ul class="nav nav-pills nav-stacked pull-left">
								<li>
									<a href="#">线上平台</a>
								</li>
								<li>
									<a href="#">核心竞争</a>
								</li>
								<li>
									<a href="#">业务分析</a>
								</li>
								<li>
									<a href="#">平台特色</a>
								</li>
								<li>
									<a href="#">培训体系</a>
								</li>
								<li>
									<a href="#">授课标准</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div align="center" style="font-size: 12px;">
					<div style="color: white;">&copy;2018-2019 预见大学&nbsp;&nbsp;版权所有&nbsp;&nbsp;ICP证:&nbsp;&nbsp;<span style="color: white;">沪ICP备18024971号-1</span></div>
					<div style="margin-top: 20px;color:#999">&nbsp;&nbsp;<img src="../img/b2.ico"/>沪公网安备 31010402004802号</div>	
				</div>
			</div>
		</div>
		
		<!--bannel end-->
		<!--引入jquery插件-->
		<script type="text/javascript" src="../plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap插件-->
		<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/course.js"></script>
	</body>
</html>